.color-indicator {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.color-indicator--yellow {
  background-color: #f6c143;
}

.color-indicator--green {
  background-color: #6aaa64;
}

.color-indicator--blue {
  background-color: #85c0f9;
}

.color-indicator--purple {
  background-color: #b19cd9;
}

.films-list {
  flex-wrap: wrap;
}

.reject-btn-wrapper button {
  color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
}

.reject-btn-wrapper button:hover {
  background: var(--color-danger) !important;
  color: white !important;
}
