.film-group-card {
  transition: all 0.3s ease;
  aspect-ratio: 4 / 1;
}

.film-group-card.yellow {
  background-color: rgb(249, 223, 109);
}

.film-group-card.green {
  background-color: rgb(160, 195, 90);
}

.film-group-card.blue {
  background-color: rgb(176, 196, 239);
}

.film-group-card.purple {
  background-color: rgb(186, 129, 197);
}

